/* GLOBAL STYLES */
:root {
--cream1: #FAF4E8;
--cream2: #FDFBF6;
--green1: #D1F0B1;
--green2: #B6CB9E;
--gray: #414042;
--blue: #92B4A7;
--main-font: 'Montserrat', sans-serif;
--sub_font: 'Open Sans', sans-serif;
}
html {
  font-family: var(--main-font);
  font-size: 12pt;
  width: 100%;
}

body, html {
    height: 100%;
    background-color: var(--cream2);
}

.parallax {
    /* The image used */
    background-image:
    radial-gradient(circle at 100% 150%, var(--cream1) 24%, var(--cream2) 25%, var(--cream2) 28%, var(--cream1) 29%, var(--cream1) 36%, var(--cream2) 36%, var(--cream2) 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, var(--cream1) 24%, var(--cream2) 25%, var(--cream2) 28%, var(--cream1) 29%, var(--cream1) 36%, var(--cream2) 36%, var(--cream2) 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, var(--cream2) 10%, var(--cream1) 11%, var(--cream1) 23%, var(--cream2) 24%, var(--cream2) 30%, var(--cream1) 31%, var(--cream1) 43%, var(--cream2) 44%, var(--cream2) 50%, var(--cream1) 51%, var(--cream1) 63%, var(--cream2) 64%, var(--cream2) 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, var(--cream2) 5%, var(--cream1) 6%, var(--cream1) 15%, var(--cream2) 16%, var(--cream2) 20%, var(--cream1) 21%, var(--cream1) 30%, var(--cream2) 31%, var(--cream2) 35%, var(--cream1) 36%, var(--cream1) 45%, var(--cream2) 46%, var(--cream2) 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, var(--cream2) 5%, var(--cream1) 6%, var(--cream1) 15%, var(--cream2) 16%, var(--cream2) 20%, var(--cream1) 21%, var(--cream1) 30%, var(--cream2) 31%, var(--cream2) 35%, var(--cream1) 36%, var(--cream1) 45%, var(--cream2) 46%, var(--cream2) 49%, transparent 50%, transparent);
    /* Full height */
    height: 25%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-size:100px 50px;
}
