/* GLOBAL STYLES */
:root {
--cream1: #FAF4E8;
--cream2: #FDFBF6;
--green1: #D1F0B1;
--green2: #B6CB9E;
--gray: #414042;
--blue: #92B4A7;
--main-font: 'Montserrat', sans-serif;
--sub_font: 'Open Sans', sans-serif;
}
h1,h3 {
  font-family: var(--main-font);
  font-weight: 400;
}
p {
  font-family: var(--sub_font);
  font-weight: 400;
  color: var(--gray);
}

/* NAV BAR STYLES */

.navbar {
  width: 100%;
  background-color: var(--blue);
  border-bottom: 2px solid var(--green1);
  border-top: 2px solid var(--green1);
  font-family: var(--main-font);
  /* box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2); */
  padding: .2rem 2rem;
  text-align: center;
}
li {
  margin-left: 1rem;
  margin-right: 1rem;
}
li,a {
  margin-bottom: none;
}
.nav-link {
  color: var(--cream1);
  font-size: 1.5rem;
  font-weight: 300;
  padding-bottom: 0;
  margin-bottom: 1rem;
}
li.active a {
  color: var(--green1);
}
.nav-link:hover {
  color: var(--green1);
}

.navbar-toggler {
  border: 1px solid var(--cream1);
  stroke: var(--cream1);
}

button:focus {
  outline: none;
}
button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
/* HAMBURGER BAR STYLES */
.container {
    display: inline-block;
    padding-left: 1px;
    padding-right: 1px;
}

.bar {
    width: 1.2rem;
    height: 2px;
    border-radius: 5px;
    background-color: var(--cream1);
    margin: 6px 0;
}

/* Underline From Center */

#hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
#hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: var(--green1);
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#hvr-underline-from-center:hover:before, #hvr-underline-from-center:focus:before, #hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}


/* HOMEPAGE STYLES */

#home {
  height:705px;
  background-color: var(--blue);
  color: var(--green1);
  text-align: center;
}
#home h1 {
  padding-top: 25%;
}
#home h1,h3 {
    font-weight: 300;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.17);
}

/* ABOUT STYLES */
#about {
  padding: 3rem 3rem 2rem 3rem;
  color: var(--green2);
}
#about .col-sm {
  padding-bottom: 2rem;
}
#about img {
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#about #quote {
  text-align: center;
}
