/* GLOBAL STYLES */
:root {
--cream1: #FAF4E8;
--cream2: #FDFBF6;
--cream_back: rgba(253,251,246,.5);
--green1: #D1F0B1;
--green2: #B6CB9E;
--gray: #414042;
--blue1: #92B4A7;
--blue2: #9BBAAF;
--main-font: 'Montserrat', sans-serif;
--sub_font: 'Open Sans', sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
  background-color: var(--cream2);
}

.parallax {
    background-image:
    radial-gradient(circle at 100% 150%, var(--cream1) 24%, var(--cream2) 25%, var(--cream2) 28%, var(--cream1) 29%, var(--cream1) 36%, var(--cream2) 36%, var(--cream2) 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, var(--cream1) 24%, var(--cream2) 25%, var(--cream2) 28%, var(--cream1) 29%, var(--cream1) 36%, var(--cream2) 36%, var(--cream2) 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, var(--cream2) 10%, var(--cream1) 11%, var(--cream1) 23%, var(--cream2) 24%, var(--cream2) 30%, var(--cream1) 31%, var(--cream1) 43%, var(--cream2) 44%, var(--cream2) 50%, var(--cream1) 51%, var(--cream1) 63%, var(--cream2) 64%, var(--cream2) 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, var(--cream2) 5%, var(--cream1) 6%, var(--cream1) 15%, var(--cream2) 16%, var(--cream2) 20%, var(--cream1) 21%, var(--cream1) 30%, var(--cream2) 31%, var(--cream2) 35%, var(--cream1) 36%, var(--cream1) 45%, var(--cream2) 46%, var(--cream2) 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, var(--cream2) 5%, var(--cream1) 6%, var(--cream1) 15%, var(--cream2) 16%, var(--cream2) 20%, var(--cream1) 21%, var(--cream1) 30%, var(--cream2) 31%, var(--cream2) 35%, var(--cream1) 36%, var(--cream1) 45%, var(--cream2) 46%, var(--cream2) 49%, transparent 50%, transparent);
    background-attachment: fixed;
    background-size: 100px 50px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1) inset;

}


h1,h3 {
  font-family: var(--main-font);
  font-weight: 400;
}

p {
  font-family: var(--sub_font);
  font-weight: 400;
  color: var(--gray);
}

/* NAV BAR STYLES */

.navbar {
  width: 100%;
  background-color: var(--blue1);
  border-bottom: 2px solid var(--green1);
  border-top: 2px solid var(--green1);
  font-family: var(--main-font);
  padding: .2rem 2rem;
  text-align: center;
}

li {
  margin-left: .5rem;
  margin-right: .5rem;
}
li,a {
  margin-bottom: none;
}
.nav-link {
  color: var(--cream1);
  font-size: 1.2rem;
  font-weight: 300;
  padding-bottom: 0;
  margin-bottom: 1rem;
}
li.active a {
  color: var(--green1);
}
.nav-link:hover {
  color: var(--green1);
}

.navbar-toggler {
  border: 1px solid var(--cream1);
  stroke: var(--cream1);
}

button:focus {
  outline: none;
}
button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
/* HAMBURGER BAR STYLES */
.container {
    display: inline-block;
    padding-left: 1px;
    padding-right: 1px;
}

.bar {
    width: 1.2rem;
    height: 2px;
    border-radius: 5px;
    background-color: var(--cream1);
    margin: 6px 0;
}

/* Underline From Center */

#hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
#hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: var(--green1);
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
#hvr-underline-from-center:hover:before, #hvr-underline-from-center:focus:before, #hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}


/* HOMEPAGE STYLES */

#home {
  height:100%;
  background-color: var(--blue1);
  background-image:
  radial-gradient(circle at 100% 150%, var(--blue1) 24%, var(--blue2) 25%, var(--blue2) 28%, var(--blue1) 29%, var(--blue1) 36%, var(--blue2) 36%, var(--blue2) 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, var(--blue1) 24%, var(--blue2) 25%, var(--blue2) 28%, var(--blue1) 29%, var(--blue1) 36%, var(--blue2) 36%, var(--blue2) 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, var(--blue2) 10%, var(--blue1) 11%, var(--blue1) 23%, var(--blue2) 24%, var(--blue2) 30%, var(--blue1) 31%, var(--blue1) 43%, var(--blue2) 44%, var(--blue2) 50%, var(--blue1) 51%, var(--blue1) 63%, var(--blue2) 64%, var(--blue2) 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, var(--blue2) 5%, var(--blue1) 6%, var(--blue1) 15%, var(--blue2) 16%, var(--blue2) 20%, var(--blue1) 21%, var(--blue1) 30%, var(--blue2) 31%, var(--blue2) 35%, var(--blue1) 36%, var(--blue1) 45%, var(--blue2) 46%, var(--blue2) 49%, transparent 50%, transparent),
  radial-gradient(circle at 0    50%, var(--blue2) 5%, var(--blue1) 6%, var(--blue1) 15%, var(--blue2) 16%, var(--blue2) 20%, var(--blue1) 21%, var(--blue1) 30%, var(--blue2) 31%, var(--blue2) 35%, var(--blue1) 36%, var(--blue1) 45%, var(--blue2) 46%, var(--blue2) 49%, transparent 50%, transparent);
  background-size: 100px 50px;;
  color: var(--green1);
  text-align: center;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.17);
}
#home h1 {
  padding-top: 25%;
  font-weight: 300;
}
#home .fa-angle-double-down {
  color: var(--green1);
  padding-top: 10%;
}
/* ABOUT STYLES */
#about {
  background-color: var(--cream_back);
  padding: 3rem 3rem 2rem 3rem;
  margin-bottom: 10%;
  color: var(--green2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

#about .col-sm {
  padding-bottom: 2rem;
}
#about img {
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#about #quote {
  font-size: 3rem;
  color: var(--blue1);
  font-weight: 200;
}

/* Skills styles */

#skills {
  width: 100%;
  background-color: var(--cream2);
  border-radius: 2rem;
  border: 1px solid var(--blue1);
  margin-bottom: 1rem;
}

.skills {
  text-align: left;
  padding-left: 20px;
  line-height: 25px;
  color: var(--blue1);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.html {width: 90%; background-color: var(--green1);}
.css {width: 80%; background-color: var(--green1);}
.js {width: 65%; background-color: var(--green1);}
.Adobe {width: 85%; background-color: var(--green1);}
.other {width: 40%; background-color: var(--green1);}

/* PROJECT STYLES */
#projects {
  background-color: var(--cream_back);
  padding: 3rem 3rem 2rem 3rem;
  margin-bottom: 10%;
  color: var(--green2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05),0 -5px 10px rgba(0, 0, 0, 0.05);
}
#projects .card{
  background-color: var(--cream2);
  border: 3px solid var(--green2);
  border-radius: .5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
}
#projects .card-img-top {
    width: 100%;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
/* BUTTON STYLES */
#main_button {
  border: 3px solid var(--blue1);
  color: var(--blue1);
  background-color: var(--cream2);
}
#sub_button {
  border: 2px solid var(--blue1);
  border-radius: 25px;
  color: var(--blue1);
  background-color: var(--cream2);
}

/* PHOTOGRAPHY STYLES */
#photos {
  background-color: var(--cream_back);
  padding: 3rem 3rem 2rem 3rem;
  margin-bottom: 10%;
  color: var(--green2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05),0 -5px 10px rgba(0, 0, 0, 0.05);
}
#photos .card{
  background-color: transparent;
  border: none;
  box-shadow: none;
}
#photos .card-img {
  border-radius: .5rem;
}
/* WRITING STYLES */
#writing {
  background-color: var(--cream_back);
  padding: 3rem 3rem 2rem 3rem;
  margin-bottom: 10%;
  color: var(--green2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05),0 -5px 10px rgba(0, 0, 0, 0.05);
}
#writing .card{
  background-color: var(--cream2);
  border: 3px solid var(--green2);
  border-radius: .5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
}

/* RESUME STYLES */
#resume {
  background-color: var(--cream_back);
  padding: 3rem 3rem 2rem 3rem;
  margin-bottom: 10%;
  color: var(--green2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05),0 -5px 10px rgba(0, 0, 0, 0.05);
}

#resume .card{
  background-color: var(--cream2);
}

/* CONTACT STYLES */
#contact {
  background-color: var(--cream_back);
  padding: 3rem 3rem 2rem 3rem;
  color: var(--green2);
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.05);
}

/*-- to-top button styles --*/
.to-top {
  position: fixed;
  right: 2%;
  bottom: 1em;
  z-index: 99999;
  display: none;
}
.top-button {
  background: var(--cream2);
  border: 2px solid var(--green2);
  color: var(--green2);
  padding: 1em .5em .3em .5em;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
}

.top-button:hover {
  text-decoration: none;
  color: var(--cream2);
  background: var(--green2);
}

/* FOOTER STYLES */

footer {
  background-color: var(--blue1);
  border-top: 2px solid var(--green1);
  /* box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2); */
  padding: 0;
  text-align: center;
}
footer .container-fluid {
  padding-top: 1rem;
}
footer p{
  color: var(--cream1);
  font-family: var(--main-font);
  font-weight: 300;
}
#social{
  padding-bottom: .5rem;
  font-size: .8rem;
}
#social a{
  color: var(--cream1);
  text-shadow: 0 1px 5px rgba(0,0,0,0.05);
  padding: 0 .5rem;
}
#social a:hover{
  color: var(--green1);
  text-shadow: 0 1px 5px rgba(0,0,0,0.17);
}
